RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L,QSA]

<FilesMatch "\.(env|git|gitignore|htaccess)$">
    Require all denied
</FilesMatch>

RewriteCond %{QUERY_STRING} union.*select.*\(
RewriteRule ^.*$ - [F,L]
