@import url('./variables.css');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
}

.container {
  /* background-color: var(--surface); */
  padding-top: var(--space-2xl);
  /* border-radius: var(--radius-lg); */
  /* box-shadow: var(--shadow-md); */
  width: 80%;
  max-width: 600px;
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: var(--space-lg);
}

h1 {
  font-size: 2.25rem;
  /* color: var(--primary); */
  margin-bottom: var(--space-sm);
}

p {
  font-size: 1.125rem;
  color: var(--text-muted);
  margin-bottom: var(--space-md);
}

.button {
  padding: var(--space-sm) var(--space-md);
  background-color: var(--primary);
  color: var(--text-alt);
  font-size: 1rem;
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--primary-light);
}

.button:focus {
  outline: none;
}
