@import url('./variables.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: var(--text);
}

body {
  background: var(--background);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--surface);
  max-width: 600px;
  width: 100%;
  padding: var(--space-2xl);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-lg);
}

.container .title {
  padding-bottom: var(--space-xl);
  font-size: var(--text-4xl);
  font-weight: 600;
}

.container form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-md);
}

.input-box {
  width: 100%;
}

.input-box input,
.input-box button {
  height: 100%;
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  font-size: var(--text-base);
  font-weight: 500;
  outline: none;
  cursor: pointer;
  border-radius: var(--radius-md);
}

.input-box input {
  border: var(--border-thin) solid;
  border-color: var(--text-muted-alt);
}

.input-box button {
  background-color: var(--primary);
  color: var(--text-alt);
  border: none;
  transition: background-color 0.3s;
}

.input-box button:hover {
  background-color: var(--primary-light);
}

.input-box input:focus,
.input-box input:valid {
  border-color: var(--primary);
}

.container form .text {
  color: var(--text-muted);
  width: 100%;
  text-align: center;
}

.container form .text a {
  color: var(--primary);
  text-decoration: none;
}
.container form .text a:hover {
  text-decoration: underline;
}
